{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
{% if user.is_authenticated %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>You are already logged in!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Registration</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" style="padding-top: 50px; padding-bottom: 70px">
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                  <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
                {% endif %}
              
                {% if next %}
                  {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                  {% else %}
                    <p class="alert alert-danger">Please login to see this page.</p>
                  {% endif %}
                {% endif %}

                {% bootstrap_form form %}
                
                <p><a href="{% url 'accounts:signup' %}">create new account ?</a></p>
                <input class="col btn btn-info" type="submit" value="login">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}