{% extends "base.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
{% if user.is_superuser %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Add Category</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" style="padding-top: 50px; padding-bottom: 70px">
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-8 mx-auto">
          <div class="card mb-3">
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="row">
                  <div class="col-sm-12">
                    <input class="btn main-btn" type="submit" value="Add Category">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}